@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  
  margin: 0;
  padding: 0;
 
 } 

 @keyframes scale-up-down {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.tick-animation {
  animation: scale-up-down 1.5s infinite ease-in-out;
}
